<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parking Pals</title>
</head>
<script src="public/libs/application.js"></script>
<nav>


</nav>
<body>

    {{{body}}}

</body>
</html>