
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI8bTRZVfp9K-DER1MfqkYsOrPKiVxwYM  
&callback=initMap"
async defer></script> 


  <h1 style="text-align: center; font-weight: 700; ">Spots available to you</h1>
  <hr style="max-width: 100%">
  
  <div id="map-div" class="bg-dark">
    <div id="map" onload="initMap()"></div>
  </div>


