  <script src="/public/libs/application.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbMf2Hz5rxcAFsfofOcwistZNUEzw1jXE&callback=initMap" async defer></script>
 <header>
 <br><br>
  <h1 style="text-align: center; font-weight: 700; ">Available Parking Spots</h1>
    <hr>
      <div id="map-div" class="bg-dark">
        <div id="map" onload="initMap()"></div>
      </div>
    <br><br>
</header>
