 <header>
 <br><br>
  <h1 style="text-align: center; font-weight: 700; ">Available Parking Spots</h1>
    <hr style="max-width: 100%">
      <div id="map-div" class="bg-dark">
        <div id="map" onload="initMap()"></div>
      </div>

    <br><br>
</header>
