 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI8bTRZVfp9K-DER1MfqkYsOrPKiVxwYM  
 &callback=initMap"
 async defer></script>
  <script src="/public/libs/application.js"></script>
 <header>
 <br><br>
  <h1 style="text-align: center; font-weight: 700; ">Available Parking Spots</h1>
    <hr>
      <div id="map-div" class="bg-dark">
        <div id="map" onload="initMap()"></div>
      </div>
    <br><br>
</header>
