    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <hr>
                <h1>Trouble finding parking in Kelowna?</h1>
                <hr><div class="homepage-p">
                <p>Parking Pal, the airbnb for driveways.</p></div>
                <div class="homepage-lhl">
                <p>** This website is a demonstration site ONLY **</p>
                <p>It was developed as the final project for our Lighthouse Labs Web Development course</p>
                <p>IT IS NOT REAL.  DO NOT USE THIS SITE TO RESERVE PARKING IN ANY DRIVEWAYS IN KELOWNA</p>
            </div></div>
        </div>
        <div class="bounce"><i class="fa fa-angle-double-down" ></i></div>    
     </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"></h2><div class=".col-xs-6" id="homebut1" >
                      <form method="get" action="/commuter">
                      <button name="action" value="commuter" class="btn btn-default btn-xl wow tada">Find A Parking Spot</button>
                      </form></div>
                      <div class=".col-xs-6" id="homebut2">
                      {{#if user}}
                      <a href="/homeowner" class="btn btn-default btn-xl wow tada">List My Parking Spot</a>
                      {{else}}
                      <a href="/login?redirect=/homeowner" class="btn btn-default btn-xl wow tada">List My Parking Spot</a>
                      {{/if}}
                  </div>
              </div>
           </div>
        </div>
    </section>