
<h1>Parking Pal App: Home</h1>

<img>

<form>
<button name="action" value="commuter">Find Parking</button>
<button name="action" value="homeowner">List Parking</button>
<button name="action" value="payments">Payments</button>
</form>