
<h1>Parking Pal App: Home</h1>

<img >

<form method="post" action="/">
<button name="action" value="commuter">Find Parking</button>
</form>
<form method="post" action="/homeowner">
<button name="name1" value="homeowner">List Parking</button>
</form>