<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_yhwrDaHZJtuijc3LZNNTfjch"
    data-amount="42000"
    data-name="Parking Pal"
    data-description="Parking made ez"
    data-image="http://cdn.shopify.com/s/files/1/0885/3586/products/thumbnail0_large.jpg?v=1433951403"
    data-locale="auto">
  </script>
</form>